@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');
body {
  background: #e63351;
  color: white;
}

.recipe-title, h4, .index-view-item, .dialog-box {
  font-family: Roboto;
}

.recipe-box-wrapper {
  margin: 20px 15%;
}

.heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Roboto;
}
.heading div, .heading i {
  display: inline-block;
  margin-right: 15px;
}

button:hover {
  cursor: pointer;
}

.unstyle-button, .dialog-box .corner-close, .dialog-box button, .recipe-view .recipe-title button, .add-button button {
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
  color: #481D24;
}
.unstyle-button:hover, .dialog-box .corner-close:hover, .dialog-box button:hover, .recipe-view .recipe-title button:hover, .add-button button:hover {
  color: #FFFFFF;
}

#index-view {
  height: 95px;
  overflow: auto;
  margin-bottom: 5px;
  border: 5px solid #084C61;
  border-bottom: 10px solid #084C61;
  border-top: 10px solid #084C61;
  border-radius: 10px;
}
#index-view .index-view-item {
  padding: 7px;
  cursor: pointer;
}
#index-view .index-view-item:nth-child(odd) {
  background: #084C61;
  color: #e63351;
}
#index-view .index-view-item:hover {
  color: #481D24;
}

.active {
  background: #e63351 !important;
  border: 2px solid #0fb1bd !important;
  color: #0fb1bd !important;
}

.add-button {
  background: #09929c;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}
.recipe-view .list {
  max-width: 600px;
}
.recipe-view .recipe-body {
  background: #481D24;
  height: 330px;
  overflow-y: scroll;
  padding: 0 10px;
  font-family: Roboto;
}
.recipe-view .recipe-body h4 {
  letter-spacing: 0.1em;
}
.recipe-view .recipe-title {
  background: #09929c;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.recipe-view .recipe-title .title-row {
  display: inline-block;
}
.recipe-view .recipe-title .fa-pencil-square-o {
  vertical-align: bottom;
}
.recipe-view .recipe-title div:first-of-type {
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
}

.dialog-wrap {
  box-shadow: 2px 10px 10px 5000px rgba(0, 0, 0, 0.6) !important;
}

.dialog-box {
  text-align: center;
  position: fixed;
  width: 500px;
  min-width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
  box-shadow: 3px 3px 10px black;
  border-radius: 15px;
  background: #616196;
  z-index: 1000;
}
.dialog-box .input-title {
  margin: 5px;
}
.dialog-box textarea {
  margin-bottom: 10px;
  background: #556670;
  min-width: 300px;
  min-height: 60px;
  resize: vertical;
  color: #042732;
  font-weight: bold;
  font-size: 13px;
  overflow: auto;
}
.dialog-box textarea:focus {
  box-shadow: 0 0 5px #F46036;
  outline: 1px solid #F46036;
  border: 1px solid #F46036;
}
.dialog-box textarea:nth-of-type(3) {
  min-height: 100px;
}
.dialog-box textarea:first-of-type {
  resize: none;
  min-height: 15px !important;
}
.dialog-box button:not(:first-of-type) {
  margin-bottom: 15px;
}
.dialog-box button {
  font-family: Roboto;
  font-size: 15px;
  margin-right: 8px;
  background: #063a49;
  border-radius: 5px;
}
.dialog-box .corner-close {
  font-size: 24px !important;
  color: #042732;
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 750px) {
  .recipe-box-wrapper {
    margin: 5%;
  }

  .heading {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 350px) {
  .dialog-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .recipe-box-wrapper {
    margin: 0;
  }

  .heading {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .recipe-body {
    max-height: 200px;
  }
}
